services:
  location_api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: location_api
    expose:
      - "8000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - docker_default

networks:
  docker_default:
    external: true
